@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #040404;
  --foreground: #F3F4F6;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #040404;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
